<h2>Upload your video</h2>

Remember, this is a 1-minute video site. Anything longer than 1 minute, and your video will be shortened.<br /><br />

<b>Warning: This form cannot currently accept videos larger than 10 MB.</b><br />



<%= form_for @video do |f| %>

  <% if @video.errors.any? %>
    <div id="error_explanation"> 
		<h2>Sorry, couldn't save your video because:</h2>
  		<ul>
			<% @video.errors.full_messages.each do |msg| %> 
				<li><%= msg %></li>
			<% end %>
		</ul> 
	</div>
  <% end %>

  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>

  <input type="hidden" name="video[panda_video_id]" id="returned_video_id" />

  <div id="upload_progress" class="panda_upload_progress"></div>    

  <%= f.submit "Upload video" %>
<% end %>

<script>
  <% auth_params = Panda.signed_params('post', "/videos.json") %>
  jQuery("#returned_video_id").pandaUploader(<%=raw auth_params.to_json %>, {
    upload_progress_id: 'upload_progress'
  });
</script>
